/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "reset.scss";

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@mixin rounded-corners($amount) {
    -moz-border-radius: $amount;
    border-radius: $amount;
}
// .nav { @include rounded-corners(3px); }
// .content { @include rounded-corners(5px); }


body, html {
    /* background: radial-gradient(circle at center,rgb(0, 0, 255) 0%,rgb(255, 0, 0) 150%); */
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    // height: 100%;
    // margin: 0;
}

link, button {
    cursor: pointer;
}

// .app {
//     background-image: image-url("grill.jpg");

//     height: 100%;
    
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 24px;
    padding-bottom: 32px;
}

.nav-bar > * {
    // display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-bar button, .showpage button {
    border-width: 0;
    @include rounded-corners(5px);
    
    background: rgba($color: #d0d0d000, $alpha: 0.3);
    &:hover {
        background: rgba($color: #c0c0c000, $alpha: 0.5);
    }
}

.logo {
    display: flex;
    justify-content: start;
    // font-family:monospace;
    color: black;
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
}

.logo h1 {
    // font-family: 'Courier New', Courier, monospace;
}

.logo img {
    margin-left: -13px;
}

.search-bar {
    display: flex;
    width: 55%;
    height: 48px;
}

.search-bar input {
    width: 90%;
    padding-left: 15px;
    @include rounded-corners(4px);
    // box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.05);
}

.search-bar button {
    width: 56px;
    transform: scale(-1, 1);
    font-size:36px;
} 

.search-bar button, #signup-button, #delete-button, .review-form > input, .session-form button:last-child, .red-button {//, #profile-button {
    background: rgba(224,7,7,1);
    color: white;
    &:hover {background: red;}
    // border-width: 0;
}

.create-button {
    font-size: 14px;
    font-weight: 550;
    height: 36px;
}

#login-button, #logout-button, #profile-button, .showpage button  {
    border-width: thin;
    height: 40px;
    min-width: 80px;
    margin-right: 5px;
    font-size: 16px;
    font-weight:550;
}

#signup-button{//, #profile-button {
    height: 40px;
    min-width: 90px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 550;
}

.navbar-User {
    display: flex;
}




///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.homepage {
    padding: 70px;
    background-image: image-url("grill.jpg");
    padding-top: 114px;
    margin-top: -86px;
    background-repeat: no-repeat;
    background-size: 100% 540px;
}

.homepage-index {
    position:relative;
    top: 440px;
    min-height: 100vh;

}

.header-text {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 36px;
    padding-bottom: 30px;
}

.homepage-businessItems {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 125px;
}

.homepage-businessItems > * {
    max-width: 300px;
    min-height: 250px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
    &:hover {box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);}
    &:active {box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);}
    & > div {
        padding: 25px;
        & > img:first-child {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.search-businessItems {
    padding-left: 225px;
    padding-top: 100px;
    max-width: 65%;
    text-decoration: none;
}

.indexItem-link  {
    text-decoration: none;
    color: black;
}

.search-businessItem-div {
    display: flex;
    padding: 25px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
    &:hover {box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);}
    &:active {box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);}
}

.businessItem-bottom, .businessItem-right {
    h4 {
        font-size: x-large;
    }
    & > * {
        // padding-top: 3px;
        padding-bottom: 5px;
    }
    p {
        color: grey;
        // margin-bottom: 0px;
    }
}

.businessItem-right {
    padding: 16px;
}

.rating-info {
    display: flex;
    align-items: center;
    margin-left: -3px;
    h6:last-child {color: grey;}
}

.rating-info > * {
    padding-right: 6px;
}




.profile-page {
    padding-left: 80px;
    h2 {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: -0.4px;
        line-height: 36px;

    }

    h5 {
        font-weight: bold;
    }

    h4 {
        color: red;
        font-weight: bolder;
        font-size: larger;
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.4px;
        // line-height: 36px;

    }

    & > h6 {
        font-size:small;
        padding-left: 8px;
    }
    
    & > ul {
        display: grid;
        grid-template-columns: repeat(6, auto);
        // column-gap: 100px;
        & > div {
            max-width: 300px;
            min-height: 250px;
        }
    }
    p {color: grey;}
}

.showpage {
    padding-left: 110px;
    padding-top: 60px;

    header {
        display: flex;
        & > div {padding: 15px;}
    }
    
    h1 {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: -0.4px;
        line-height: 36px;

    }

    .rating-info {
        font-size: larger;
        font-weight: bold;
    }

    h5 {
        font-weight: bold;
    }

    p {color: grey;}


}


.session-form, .business-form {
    margin-left: 185px;
    padding-top: 80px;
    width: 300px;

    input {
        width: 100%;
        padding: 5px 9px;
    }

    & button {
        width: 100%;
        height: 43px;
        @include rounded-corners(3px);
        font-size: large;
        font-weight: bold;
        border-width: thin;
        &:hover {box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);}
        &:active {box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);}
        &:last-child {border-width: 0;}
    }
    
    h3 {
        color: #d32323;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        line-height: 40px;
    }

    h4 {
        font-size:small;
        font-weight: bold;
        text-align: center;
    }
    
    h5 {
        font-size:small;
        color: grey;
        text-align:end;
    }

}

.business-form {
    padding-top: 50px;

    button {
        border-width: initial;
    }
    .red-button {border-width: 0;}
    
}

.gallery {
    display: flex;
}


footer {
    background-color: rgba($color: #c0c0c000, $alpha: 0.25);
    height: 250px;
    margin-top: 250px;


    h4 {
        font-weight: bold;
    }

    & .footer-link {
        text-decoration: none;
        color: grey;
        &:hover {text-decoration: underline;}
        line-height: 30px;
    }


    & > div {
        display: flex;
        justify-content: start;
        padding: 50px;
        & > div {
            padding-left: 150px;
        }
    }

    p {
        font-size:small;
        color: grey;
        padding-left: 200px;
    }
}

// #app {
    // & > *:nth-child(2) {min-height: 100vh;}
    // & > *:nth-child(2) {padding-bottom: 250px;}
    // position: relative;
    // min-height: 100vh;
// }

// switch {
//     padding-bottom: 250px;    /* Footer height */
// }